#text {
	font-family:"Helvetica";
	font-size:1.5vw;
	display:inline-block;
	margin-top:3%;
	padding:10px 12px;
	border-style:solid;
	margin-left:41%;

}

.flex-container {
	text-align: center;
	margin-top:3%;
}

.box {
    display: inline-block;
    border: 2px solid purple;
    padding:5px 5px;
    margin:4px;
    
    
}
.flex-item {
    line-height: 100px;
    font-family:Helvetica;
    color:purple;
    font-size:2vw;
    padding:10px 43px;
   

    
}