
img {
	position:absolute;
	top:13%;
	left:5%;
}
video {
	position: absolute;
	top:78%;
	left:15%;
}

p {
	position: absolute;
	font-family:"Apple Symbols";
	font-size:3.5vw;
	top:55%;
	left:55%;
	font-weight: lighter;
}